<div class="find-container">
    <h1 class="find-container-title">名言を探す</h1>
    <div class="find-container-contents">
        <a href="/departments/1" class="find-container-content">
            <img src="/achieve.jpg" alt="">
            <p>勇気をくれる名言</p>
        </a>
        <a href="/departments/2" class="find-container-content">
            <img src="/sky.jpg" alt="">
            <p>希望をくれる名言</p>
        </a>
        <a href="/departments/3" class="find-container-content">
            <img src="/heart.jpg" alt="">
            <p>愛についての名言</p>
        </a>
        <a href="/departments/4" class="find-container-content">
            <img src="/stairs.jpg" alt="">
            <p>努力についての名言</p>
        </a>
        <a href="/departments/5" class="find-container-content">
            <img src="/tie.jpg" alt="">
            <p>仕事についての名言</p>
        </a>
        <a href="/departments/6" class="find-container-content">
            <img src="/hands.jpg" alt="">
            <p>人間関係の名言</p>
        </a>
        <a href="/departments/7" class="find-container-content">
            <img src="/steps.jpg" alt="">
            <p>夢についての名言</p>
        </a>
        <a href="/departments/8" class="find-container-content">
            <img src="/pocket-watch.jpg" alt="">
            <p>時間についての名言</p>
        </a>
        <a href="/departments/9" class="find-container-content">
            <img src="/money.jpg" alt="">
            <p>お金についての名言</p>
        </a>
        <a href="/departments/10" class="find-container-content">
            <img src="/alphabet.jpg" alt="">
            <p>英語の名言</p>
        </a>
        <a href="/departments/11" class="find-container-content">
            <img src="/record.jpg" alt="">
            <p>歌詞の中の名言</p>
        </a>
        <a href="/departments/12" class="find-container-content">
            <img src="/cinema.jpg" alt="">
            <p>創作物の名言</p>
        </a>
    </div>
</div>
