/*index------------------------------------------------------------------------------*/
.department-container{
    width: 100%;
    height: auto;
    padding-bottom:40px;
}

.department-title{
    margin-top:3%;
    margin-left:3%;
    margin-right:3%;
    font-size: 27px;
    border-bottom:solid 2px orange;
}

.department-index-container{
    width: 80%;
    margin:0 auto;
    background-color:rgb(255, 182, 46);
    box-shadow:10px 10px 15px -10px gray;
    padding-top:2%;
    padding-bottom:3%;
    color:white;
}

.department-table{
    margin:0 auto;
    border-collapse: collapse;
}

.department-table th,.department-table td{
    padding:10px;
    text-align: center;
    border: solid 1.3px black;
}

.department-table td a{
    text-decoration: none;
    color:white;
    position: relative;
}

.department-table td a::after{
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform .3s;
}

.department-table td a:hover::after {
    transform: scale(1, 1);
}

/*new--------------------------------------------------------------------------*/
.department-btn{
    margin-top:10%;
    margin-right:5%;
    width: 40%;
    float:right;
    font-size:20px;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #996300;
    border: solid 2px #996300;
    background: white;
    border-radius: 3px;
    transition: .4s;
}

.department-btn:hover{
    background: #996300;
    color: white;
}

.department-new-input{
    margin-left:5%;
    margin-right:5%;
    width: 90%;
    min-height:30px;
    border: 1px solid rgb(216, 218, 223);
    box-shadow:5px 5px 10px -5px gray;
    font-size:18px;
}

@media screen and (max-width:1025px){
    /*画面幅が1025px以下の時*/
    .department-table td a:hover::after {
        position: absolute;
        bottom: -4px;
        left: 0;
        content: '';
        width: 100%;
        height: 2px;
        background: white;
        transform: scale(0, 1);
        transform-origin: center top;
        transition: transform .3s;
    }

    .department-btn:hover{
        margin-top:10%;
        margin-right:5%;
        width: 40%;
        float:right;
        font-size:20px;
        padding: 0.3em 1em;
        text-decoration: none;
        color: #996300;
        border: solid 2px #996300;
        background: white;
        border-radius: 3px;
        transition: .4s;
    }
}